@using System.Xml.Linq
@using RDFEngine
@model P3Model

@{
    var m = Model;

    Func<RRecord, string> GetName = (RRecord rec) =>
    {
        return ((RField)rec.Props.FirstOrDefault(p => p is RField && p.Prop == "name"))?.Value;
    };
}

<table border="1">
    <tr><td colspan="@m.row.Length" class="cl">@(Infobase.GetTerm(m.Tp))</td></tr>
    <tr>
        @foreach (var c in m.row)
        {
            <th>@(Infobase.GetTerm(c.Prop))</th>
        }
    </tr>
    <tr>
        @foreach (var c in m.row)
        {
            if (c is RField)
            {
                var f = (RField)c;
                <td>@f.Value</td>
            }
            else if (c is RDirect)
            {
                var d = (RDirect)c;
                <td><a href="?@d.DRec.Id">ссылка</a></td>
            }
        }
    </tr>
</table>
@foreach (var ip in m.inv)
{
    var iprop = ip.Prop;
    foreach (var it in ip.lists)
    {
        var itype = it.Tp;
<table border="1">
    <tr><td colspan="@(((RInverse)(it.list[0])).IRec.Props.Length)"><span class="pr">@(Infobase.GetInvTerm(iprop))</span> <span class="cl">@(Infobase.GetTerm(itype))</span></td></tr>
    <tr>
        @foreach (var p in ((RInverse)it.list[0]).IRec.Props)
        {
            <th>@Infobase.GetTerm(p.Prop)</th>
        }
    </tr>
        @foreach (RInverse li in it.list)
        {
            <tr>
                @foreach (var p in li.IRec.Props)
                {
                    if (p is RField)
                    {
                        var f = (RField)p;
                        <td>@f.Value</td>
                    }
                    else if (p is RDirect)
                    {
                        var d = (RDirect)p;
                        <td>
                            <a href="?id=@(d.DRec.Id)"><span class="lnk">@(GetName(d.DRec))</span></a>
                        </td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            </tr>
        }
    </table>
    }
}

